
body{
	background-image: url("image_02.jpg");
	background-size: 100% auto;
	text-align: center;
	background-attachment: fixed;
    }

h1 {
	font-family: sans-serif;
	font-size: 36pt;
	color: darkblue;
	margin-top: 5pt;
	margin-bottom: 20pt;
		}

.test{
	border: 2px solid black;
	padding: 25px;
	background-color: lightgray;
	background:rgba(255,255,255,0.2);
	border-radius: 8px;
	display: inline-block;

		}
div{

}
